<h1>Salut!</h1>

<p>Vous avez été ajouté à la nouvelle promotion de la Sonatel Academy</p>

<p>Pour réinitialiser vos informations, veuillez suivre ce lien</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>


<p>Merci!</p>
